.button {
  max-width: 210px;
  width: 100%;
  min-height: 45px;
  padding: 0.9375rem 0;
  font-size: 0.625rem;
  letter-spacing: 2px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  &--outline {
    &-purple-dark {
      color: $color-purple-dark;
      background-color: $color-white;
      border: 1px solid $color-purple-dark;
      &:hover {
        color: $color-white;
        border-color: $color-black;
        background-color: $color-black;
      }
    }
    &-pink-dark {
      color: $color-pink-dark;
      background-color: $color-white;
      border: 1px solid $color-pink-dark;
      &:hover {
        color: $color-white;
        border-color: $color-pink-dark;
        background-color: $color-pink-dark;
      }
    }
    &-blue-dark {
      color: $color-blue-dark;
      background-color: $color-white;
      border: 1px solid $color-blue-dark;
      &:hover {
        color: $color-white;
        border-color: $color-blue-dark;
        background-color: $color-blue-dark;
      }
    }
  }
  &--fill {
    &-black {
      color: $color-white;
      border-color: $color-black;
      background-color: $color-black;
      &:hover {
        color: $color-white;
        border-color: $color-black;
        background-color: $color-black;
      }
    }
    &-black-with-hover {
      color: $color-white;
      border-color: $color-black;
      background-color: $color-black;
      &:hover {
        color: $color-white;
        background-color: $color-grey-medium;
        border-color: $color-grey-medium;
      }
    }
  }
}
