// --- FONT SIZE --- //
// Base font-sizes
$text__size--alpha: 4rem !default;
$text__size--beta: 3rem !default;
$text__size--gamma: 2rem !default;
$text__size--delta: 1.5rem !default;
$text__size--default: 1.25rem !default;

// --- FONT WEIGHT --- //
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$font-size-global: 16px;
$font-size-global-small: 14px;

// --- COLOR --- //
$color-white: #fff;
$color-grey: #757575;
$color-black: #000;
$color-pink: #e8c3d1;
$color-pink-light: #f8e9ef;
$color-pink-medium: rgb(242, 198, 207);
$color-pink-dark: #995069;
$color-blue: #bbcbe3;
$color-blue-light: #f0f2f5;
$color-blue-medium: rgb(155, 203, 235);
$color-blue-dark: #5d6c85;
$color-purple-medium: rgb(109, 99, 159);
$color-purple-dark: #776969;